/*
=== Paleta de colores ===
    Amarillo: #EAC926;
    Azul: #03264C;
    Celeste: #1259c3;
    Gris oscuro: #666;
    Gris claro: #ebebeb;
    Verde: #39b54a;

=== Tamaños Tipográficos ===
    Cuerpos de texto: 12px
    Titulares (Basado en tu última visita/Ofertas): 24px
    Precios: 18px
    Descuentos: 16px
    Descripciones: 16px
*/

/*=== Selector universal===*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    }

body{
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
}

.headline{
    font-size: 24px;
}

p{
    font-size: 12px;
}

.main-article > i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
    /* position: relative; */
    }

header{
    background-color: #EAC926;
}
header div.top-header p{
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

.top-header{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    align-items: center;
    justify-content: space-evenly;
}
/*=== Aquí se debe disponer el CSS para el div.top-header=== */



header div.logo, header .form{
    width: 50%;
}

.logo{
    padding: 10px;
}

header .form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    background-color: #FFF;
    border-radius: 1em;
}

.barra-busqueda{
    margin: 0px;
    border: hidden;
    height: 30px;
    padding: 5px;
    width: 90%;
    background-color: transparent;
}

.btn-busqueda{
    border: none;
    background-color: transparent;
}

/* header div.logo{
    padding: 10px;
} */
/*=== Aquí debemos colocar el CSS para el header .form===*/


header nav{
    font-size: 12px;
    margin-left: 20px;
}

nav.nav-header{
    display: none;
}

header ul li{
    list-style-type: none;
}

header ul li a{
    text-decoration: none;
    color: #000;
}

header .form .input{
    background-color: #FFF;
    border: 1px solid #000;
    border-right: #fff;
    outline: none;
    color: #666;
    padding: 2px;
    width: 65%;
}

header .form .submit{
    background-color: #FFF;
    border: 1px solid #000;
    color: #666;
    width: 10%;
}

div.burger-menu{
    text-align: center;
}

div.burger-menu i{
    background-color: #0044AA;
    border-radius: 5px;
    color: #FFF;
    font-size: 20px;
    height: 40px;
    margin: 10px 0px 20px 0px;
    padding: 10px;
    width: 40px;
}

/*=== Aquí colocamos el CSS para div.last-visit , div.offers===*/

.products{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.price{
    font-size: 18px;
    width: 40%;
}

.discount{
    text-align: end;
    width: 60%;
}

.discount,
.description{
    font-size: 16px;
    font-weight: normal;
}

h3,
.description{
    color: #666;
}

.description{
    display: none;
    margin-top: 20px;
}

section.banner img{
    width: 100%;
}

main{
    width: 90%;
    margin: 0 auto;
}

main section article{
    background-color: #fff;    
    margin: 10px 0px;
    width: 90%;
    /* position: relative; */
}

.main-article{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    border-top: 1px solid #ebebeb;
}

main section article img{
    width: 100%;
}

main section article i,
.discount{
    color: #39b54a;
}

/*=== Aquí debemos colocar el CSS para el main section article i===*/


main section h3{
    margin: 20px 0px;
}

/*=== APlicar CSS al article div.main-article ===*/


/* footer */

footer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 20px;
    text-align: center;
}

.foot-card i{
    font-size: 16px;
    padding: 5px;
}

.foot-card{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 10px;
    justify-content: space-between;
}

.foot-card p{
    font-size: 12px;
    color: #666;
}

/* REGISTER */

.form-register, .form-login{
    width: 50vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding:30px;
    border: 1px solid black;
    margin-top: 40px;
    border-radius: 1em;
}

.datos-register{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-bottom: 10px;
}



.form-login{
    align-items: center;
}


.btn-ingresar{
    width: 5em;
}

.foot-icon{
    font-size: 3em;
}



@media (min-width: 361px){

    header div.logo, header .form, header div.top-header p{
        width: 30%;
    }

    nav.nav-header, nav.nav-header ul{
        display: flex;
        justify-content: space-evenly;
        padding: 10px;
    }

    nav.nav-header li{
        margin-left: 10px;
        margin-right: 10px;
        font-size: 12px;
    }

    .burger-menu{
        display: none;
    }

    /*=== Hacer visible main section article .descripcion===*/
    .description{
        display: block;
        margin-top: 20px;
    }

    main section article{
        width: 44%;
        box-shadow: 0px 0px 10px rgb(100,100,100);
    }
    
    /*=== colocar sombra al main section article===*/    
    

    /*=== Aplicar CSS al main section div.products===*/

    .products{
        justify-content: space-between;
    }
    
    /*=== Aplicar CSS al main section div.products article===*/
    
    /*=== Aplicar CSS al .price, .discont===*/
    
}

@media (min-width: 769px){
   /*=== Aplicar CSS al ain section div.products article===*/
    main section article{
        width: 22%;
    }

    main section article{
        width: 44%;
        box-shadow: 0px 0px 10px rgb(100,100,100);
    }

    footer{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
    }

    .foot-card{
        width: 30%;
    }

}